@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
nav {
  background-color: #004d40; /* Color de fondo del menú */
  padding: 10px 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra debajo del menú */
}

#listanavegacion {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 20px; /* Espacio entre los elementos */
}

#listanavegacion a {
  color: antiquewhite;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 15px;
  transition: all 0.3s ease; /* Suaviza las transiciones */
  border-radius: 5px; /* Bordes redondeados */
}

#listanavegacion a:hover {
  background-color: #00695c; /* Color al pasar el mouse */
  color: #ffffff; /* Color del texto al pasar el mouse */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra adicional al pasar el mouse */
}

#listanavegacion a:active {
  background-color: #00332e; /* Color al hacer clic */
}

/*Estilo imagen del banner*/
.banner-img {
  height: 50vh;
  width: 100vw;
  overflow: hidden;
}

.banner-img img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

/*Estilos para dispositivos móviles lista de navegación*/
@media (max-width: 768px) {
  #listanavegacion {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (min-width: 768px) and (max-width: 992px) {
  #listanavegacion a {
    font-size: 15px;
  }
}
/* Diseño para escritorio */
.contenidoProductosGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: row dense; /* Mantiene el orden en filas densas */
  column-gap: 10px;
  row-gap: 20px;
  padding: 0 30px;
}
.contenidoProductosGrid img {
  width: 100%;
  height: 300px; /* Altura fija para las imágenes */
  object-fit: cover; /* Mantiene proporciones sin deformar */
  display: block;
  border-radius: 10px;
}

/* Descripciones */
.itemGridProductos h2 {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 10px;
  padding: 5px;
  line-height: 1.4;
  text-transform: capitalize;
}

/* Diseño para móvil */
@media (max-width: 768px) {
  .contenidoProductosGrid {
    grid-template-columns: 1fr;
    /* 1 columna */
    row-gap: 10px;
    /* Espaciado entre filas */
  }
  .itemGridProductos img {
    width: 80%;
    /* Reduce el ancho para hacerlas más pequeñas */
    aspect-ratio: 1/1;
    /* Mantiene un formato cuadrado */
    object-fit: cover;
    display: block;
    border-radius: 10px;
    margin: 0 auto;
  }
  .itemGridProductos h2 {
    padding: 5px;
  }
}
.estilo-terminos-y-condiciones p {
  color: rgb(224, 167, 110);
  margin: 10px 0;
  font-size: 16px; /* Tamaño estándar para ambos */
  line-height: 1.5; /* Espaciado entre líneas */
}
.estilo-terminos-y-condiciones li {
  color: gray;
  margin: 20px 0;
  font-size: 16px; /* Tamaño estándar para ambos */
  line-height: 1.5; /* Espaciado entre líneas */
  list-style-position: inside; /* Asegura que los números estén dentro del contenedor */
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(to bottom, antiquewhite, white);
  font-family: "Noto Sans", sans-serif;
}
body a {
  text-decoration: none;
}
body .estilos-titulos, body h2, body h1 {
  font-weight: bold;
  text-align: center;
  margin-top: 30px;
  color: #00695c !important;
}
body h1 {
  font-size: 2.5rem;
  margin-bottom: 40px;
  padding: 10px;
  text-transform: uppercase; /*Mayúsculas*/
  letter-spacing: 2px; /* Añade espaciado entre letras */
  border-bottom: 2px solid #ccc; /* Línea inferior decorativa */
}
body h2 {
  margin-bottom: 20px;
}
body p {
  color: rgb(224, 167, 110);
}
body footer {
  color: grey !important;
  margin-top: 40px !important;
  border-top: 2px solid #ccc !important;
  padding-top: 20px !important;
  font-size: 0.75rem !important;
}

/*pagina productos*/
.boton-productos {
  position: fixed !important;
  top: 5px !important;
  left: 10px !important;
}
.boton-productos a {
  color: white;
}

#texto-quienes-somos {
  margin: 20px;
  text-align: justify;
}

.btn {
  margin-top: 20px;
}

#texto-quienes-somos {
  margin: 20px;
  text-align: justify;
}

.btn {
  margin-top: 20px;
}

@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }
  footer {
    text-align: center;
  }
  h2 {
    font-size: 1.2em;
  }
  p {
    font-size: 1em;
  }
}
#p-carrusel {
  color: white;
}

.carousel-item img {
  display: block; /* Asegura que el comportamiento inline-block no interfiera */
  margin: 0 auto;
  width: 50%;
  border-radius: 10px;
}

.form-control {
  background-color: rgba(240, 248, 255, 0.909);
}

.form-select {
  background-color: rgba(240, 248, 255, 0.909);
}

@media (max-width: 952px) {
  .containerProductosDestacados {
    display: none;
  }
}
@media (min-width: 952px) {
  .carousel {
    display: none;
  }
}
/*Estilos del Index */
.card {
  background-color: antiquewhite;
}
.card iframe {
  width: 100%;
  height: auto;
}

#lista-productos-destacados-index {
  display: flex;
  list-style: none;
  gap: 5px;
  justify-content: center;
  flex-wrap: wrap;
}
#lista-productos-destacados-index img {
  border-radius: 10px;
  width: 80%;
  max-width: 350px;
  height: 450px;
  object-fit: cover;
}

/* estilo formulario*/
.form-floating :hover {
  background-color: white;
}

/*# sourceMappingURL=styles.css.map */
