/* Diseño para escritorio */
.contenidoProductosGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row dense; /* Mantiene el orden en filas densas */
    column-gap: 10px;
    row-gap: 20px;
    padding: 0 30px;

    img {
        width: 100%;
        height: 300px; /* Altura fija para las imágenes */
        object-fit: cover; /* Mantiene proporciones sin deformar */
        display: block;
        border-radius: 10px;

        &:hover {
            transform: scale(1.2);
        }
    }
}

/* Descripciones */
.itemGridProductos h2 {
    font-size: 1.2rem;
    font-weight: bold;
    color: $secondary-color;
    text-align: center;
    margin-top: 60px;
    padding: 5px;
    line-height: 1.4;
    text-transform: capitalize;
}

.boton-productos {
    margin-top: 40px;
}


/* Diseño para móvil */
@media (max-width: 768px) {
    .contenidoProductosGrid {
        grid-template-columns: 1fr;
        /* 1 columna */
        row-gap: 10px;
        /* Espaciado entre filas */
    }

    .itemGridProductos img {
        width: 80%;
        /* Reduce el ancho para hacerlas más pequeñas */
        aspect-ratio: 1 / 1;
        /* Mantiene un formato cuadrado */
        object-fit: cover;
        display: block;
        border-radius: 10px;
        margin: 0 auto;
    }

    .itemGridProductos h2 {
        padding: 5px;
    }
}