// Definimos un mixin para compartir estilos comunes
@mixin texto-estandar($color, $margen) {
    color: $color;
    margin: $margen;
    font-size: 16px; /* Tamaño estándar para ambos */
    line-height: 1.5; /* Espaciado entre líneas */
}

.estilo-terminos-y-condiciones {
    // Estilos para los párrafos (introducción y final)
    p {
        @include texto-estandar(rgb(224, 167, 110), 10px 0);
    }

    // Estilos para los elementos de lista
    li {
        @include texto-estandar(gray, 20px 0); // Letra gris y margen más amplio
        list-style-position: inside; /* Asegura que los números estén dentro del contenedor */
    }
}
